<div fxFlex fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90">
        <mat-card-header>
            <mat-card-title>Home</mat-card-title>
        </mat-card-header>
        <hr />
        <mat-card-content fxLayout="column" fxLayoutGap="10px">
            <app-employee-list [jobTitles]="jobTitles" [employeesList]="employeesList"></app-employee-list>
        </mat-card-content>
        <mat-card-actions>
            <hr />
            <button mat-raised-button color="primary">Save</button>
            <button mat-raised-button routerLink="">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>