@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.active-link {
    background-color: white;
    color:black;
}

.side-menu-item {
    background-color: white;
    border-style:none;
}

.button-background {
    background-color: secondary;
    padding: 10px;
}

.header {
    background-color: rgba(255, 215, 64, 0.5);
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
}

.red-border {
    border-width:1px;
    border-style: solid;
    border-color:red;
}