// @import '~@angular/material/theming';
// @include mat-core();

// $my-app-primary: mat-palette($mat-blue-grey);
// $my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
// $my-app-warn:    mat-palette($mat-deep-orange);
// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
// @include angular-material-theme($my-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.active-link {
    // background-color: #607d8b;
    background-color: white;
    color:black;
}

.side-menu-item {
    background-color: white;
    border-style:none;
}

.button-background {
    background-color: secondary;

    padding: 10px;
}

.red-border {
    border-width:1px;
    border-style: solid;
    border-color:red;

}

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';