<form fxFlex fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90">
        <mat-card-header>
            <mat-card-title>Create Employee</mat-card-title>
        </mat-card-header>
        <hr />
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input name="txtFirstName" required [(ngModel)]="model.firstName" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input name="txtLastName" required [(ngModel)]="model.lastName" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Job Title</mat-label>
                    <mat-select [(ngModel)]="model.jobTitleId" required>
                        <mat-option [value]="jt.id" *ngFor="let jt of jobTitles">{{jt.title}}</mat-option>
                    </mat-select>    
                </mat-form-field>
                <mat-checkbox name="chkActive" [(ngModel)]="model.isActive">Is Active</mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
            <hr />
            <button mat-raised-button color="primary" (click)="saveEmployee()" >Save</button>
            <button mat-raised-button routerLink="home">Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>