<body class="mat-app-background">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button fxFlex="40px;" mat-icon-button>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            </button>
            <span fxFlex="50px"></span>
            <h1 fxFlex>The Firm</h1>
            <span fxFlex="50px"></span>
            <div fxHide.lt-sm>
                <button mat-button [routerLink]="'/home'" routerLinkActive="active-link" > Home </button>
                <span fxFlex="5px;"></span>
                <button mat-button [routerLink]="'/new'" routerLinkActive="active-link" > Create Employee </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <button mat-list-item class="side-menu-item" [routerLink]="'/'"> Home </button>
                <button mat-list-item class="side-menu-item" [routerLink]="'/new'"> Create Employee </button>
                <button mat-list-item class="side-menu-item" (click)="sidenav.toggle()" href="" mat-list-item>Close</button>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="height: 88vh;">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>