<div fxFlex fxLayout="column">
    <div fxFlex="100" fxLayout="row" style="background-color: beige;"
        fxLayoutAlign="space-around center">
        <!-- <h3>Filters</h3> -->
        <div fxFlex fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around">
            <mat-form-field>
                <mat-label>Name Filter</mat-label>
                <input matInput placeholder="ex. Sam Smith" [(ngModel)]="nameFilter">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Job Title Filter</mat-label>
                <mat-select [(ngModel)]="selectedJobTitle">
                    <mat-option selected>All</mat-option>
                    <mat-option [value]="jt" *ngFor="let jt of jobTitles">{{jt.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Active Filter</mat-label>
                <mat-select [(ngModel)]="activeFilter">
                    <mat-option [value]="">All</mat-option>
                    <mat-option [value]="'true'">Active</mat-option>
                    <mat-option [value]="'false'">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxFlex="100" fxLayout="column" *ngFor="let jt of jobTitles" class="">
        <div fxFlex class="header">
            <p style="margin-left:10px;" *ngIf="selectedJobTitle == null || jt.id == selectedJobTitle.id">{{jt.title}}</p>
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="" *ngFor="let emp of getEmployeesForHeading(jt)">
            <span fxFlex="20px"></span>
            <span fxFlex [ngStyle]="{'font-weight': (emp.isActive) ? 'bold' : 'normal'}" >{{emp.firstName}} {{emp.lastName}}</span>
            
            <mat-slide-toggle fxFlex [(ngModel)]="emp.isActive">Active</mat-slide-toggle>
            <span fxFlex fxHide.lt-sm></span>
        </div>
    </div>
    <hr />
    <div>
</div>